/*
       document : style.css, for coding-club-websites-2016
     created on : thursday, december 8 2016, 16:59 PM
         author : adrielo (audrey) bongalon
    description : css page for linking coding club members' webpages (2016)

                                        88
                                        88
                                        88
      ,adPPYYba,  88       88   ,adPPYb,88  8b,dPPYba,   ,adPPYba,  8b       d8
      ""     `Y8  88       88  a8"    `Y88  88P'   "Y8  a8P,,,,,88  `8b     d8'
      ,adPPPPP88  88       88  8b      :88  88          8PP"""""""   `8b   d8'
      88,    ,88  "8a,   ,a88  "8a,   ,d88  88          "8b,   ,aa    `8b,d8'
      `"8bbdP"Y8   `"YbbdP'Y8   `"8bbdP"Y8  88           `"Ybbd8"'      Y88'
                                                                        d8'
                                                                       d8'
*/




root {
    display: block;
}




html {
    margin: 0;
    padding: 0;
}




body {
    margin: 0;
    padding: 0;
    font-family: "Nova Mono", monospace;
}




li a {
    color: #00ff00;
    text-decoration: none;
}