/*
       document : style.css, for coding-club-websites-2016
     created on : thursday, december 8 2016, 16:59 PM
         author : adrielo (audrey) bongalon
    description : css page for linking coding club members' webpages (2016)

                                        88
                                        88
                                        88
      ,adPPYYba,  88       88   ,adPPYb,88  8b,dPPYba,   ,adPPYba,  8b       d8
      ""     `Y8  88       88  a8"    `Y88  88P'   "Y8  a8P,,,,,88  `8b     d8'
      ,adPPPPP88  88       88  8b      :88  88          8PP"""""""   `8b   d8'
      88,    ,88  "8a,   ,a88  "8a,   ,d88  88          "8b,   ,aa    `8b,d8'
      `"8bbdP"Y8   `"YbbdP'Y8   `"8bbdP"Y8  88           `"Ybbd8"'      Y88'
                                                                        d8'
                                                                       d8'
*/




root {
    display: block;
}




html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    background: #000000 url("future_circle_edit.jpg") no-repeat right bottom; 
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
}




body {
    margin: 0;
    padding: 0;
    font-family: "Share Tech Mono", monospace;
}




p {
    color: #66ff66;
}
p::selection {
    background: #bbffbb; /* WebKit/Blink Browsers */
}
p::-moz-selection {
    background: #bbffbb; /* Gecko Browsers */
}




#underscore {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
#underscore::selection {
    background: #bbffbb; /* Gecko Browsers */
}
#underscore::-moz-selection {
    background: #bbffbb; /* Gecko Browsers */
}

/* blinking underscore animation */
@keyframes blink {
    0%   {opacity: 0;}
    50%  {opacity: 1;}
    100% {opacity: 0;}
}




#bar1 {
    margin: 50px 0 0;
    background-color: #66ff66;
    width: 90%;
    height: 4px;
    animation-delay: 1s;
    animation-name: left-to-right;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#bar2 {
    margin: 50px 0 0;
    background-color: #66ff66;
    width: 70%;
    height: 4px;
    animation-delay: 4s;
    animation-name: left-to-right;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

/* bar left to right animation */
@keyframes left-to-right {
    0%   {max-width: 0;}
    100% {max-width: 90%;}
}




#box1 {
    background-color: #222222;
    margin: 0;
    width: 89.5%;
    overflow-y: hidden;
    animation-delay: 2s;
    animation-name: wipe-down1;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#box2 {
    background-color: #222222;
    margin: 0;
    width: 69.5%;
    overflow-y: hidden;
    animation-delay: 5.5s;
    animation-name: wipe-down2;
    animation-duration: 2s;
    animation-fill-mode: both;
}

/* wipe down animations */
@keyframes wipe-down1 {
    0%   {max-height: 0;}
    100% {max-height: 90px;}
}
@keyframes wipe-down2 {
    0%   {max-height: 0;}
    100% {max-height: 375px;}
}





h1 {
    font-family: "Nova Mono", monospace;
    font-size: 50px;
    color: #66ff66;
    margin: 0 75px;
    padding: 10px 0;
    white-space: nowrap; /* Keeps the content on a single line */
    overflow-y: hidden;
}
h1::selection {
    background: #bbffbb; /* WebKit/Blink Browsers */
}
h1::-moz-selection {
    background: #bbffbb; /* Gecko Browsers */
}




#typing1 {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    animation-name: typing;
    animation-delay: 3s;
    animation-duration: 3.5s;
    animation-fill-mode: both;
    animation-timing-function: steps(40, end);
}

@keyframes typing {
    0%   {max-width: 0%;}
    100% {max-width: 100%;}
}





ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 4px 75px;
}
li:hover {
    background-color: #333333;
}

#audrey, #alex, #nicky, #athan, #avril, #ben {
    animation-name: fade-in;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}

#audrey {
    animation-delay: 8s;
}

#alex {
    animation-delay: 8.2s;
}

#nicky {
    animation-delay: 8.4s;
}

#athan {
    animation-delay: 8.6s;
}

#avril {
    animation-delay: 8.8s;
}

#ben {
    animation-delay: 9s;
}

@keyframes fade-in {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}




li a {
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #66ff66;
    font-size: 20px;
    text-decoration: none;
}
li a::selection {
    background: #bbffbb; /* WebKit/Blink Browsers */
}
li a::-moz-selection {
    background: #bbffbb; /* Gecko Browsers */
}
li a:hover {
    text-decoration: underline;
}




.main-text {
    margin: 20px 75px 0;
    overflow-x: hidden;
    white-space: nowrap;
    animation-name: typing;
    animation-delay: 6.5s;
    animation-duration: 3.5s;
    animation-fill-mode: both;
}
.main-text p {
    font-size: 30px;
}




.credits {
    margin: 40px 75px 20px;
    overflow-x: hidden;
    white-space: nowrap;
    animation-name: typing;
    animation-delay: 10s;
    animation-duration: 3.5s;
    animation-fill-mode: both;
}
.credits p {
    font-size: 20px;
}